body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 0;
}

.logo {
    max-width: 100px;
    height: auto;
}

.ssl-uyarisi {
    font-style: italic;
    color: green;
}

main {
    text-align: left;
}

.odeme-kutusu {
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

h2 {
    color: #333;
    margin-bottom: 15px;
}

.form-grup {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    color: #555;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.hataMesaji {
    color: red;
    font-weight: bold;
}

.onayMesaji {
    color: green;
    font-weight: bold;
}

